<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXo9NTAkMYEyMRRz-mUf4J5-6hZydWz_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>743500797865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.studySphere</string>
	<key>PROJECT_ID</key>
	<string>studysphere-f1d2f</string>
	<key>STORAGE_BUCKET</key>
	<string>studysphere-f1d2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743500797865:ios:39c2a027ec8b332bc856b8</string>
	<key>DATABASE_URL</key>
	<string>https://studysphere-f1d2f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>